<section class="wrapper style1">
    <div class="container">
      <div class="row g-4">
        
        <div class="col-md-4 col-12">
          <div class="card text-center p-4 border-0 shadow-sm">
            <i class="icon solid major fa-paper-plane fa-3x"></i>
            <h3 class="mt-3">This Is Important</h3>
            <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
          </div>
        </div>
  
        <div class="col-md-4 col-12">
          <div class="card text-center p-4 border-0 shadow-sm">
            <i class="icon solid major fa-pencil-alt fa-3x"></i>
            <h3 class="mt-3">Also Important</h3>
            <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
          </div>
        </div>
  
        
        <div class="col-md-4 col-12">
          <div class="card text-center p-4 border-0 shadow-sm">
            <i class="icon solid major fa-wrench fa-3x"></i>
            <h3 class="mt-3">Probably Important</h3>
            <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  