<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let item of posts.products">    
                <section class="col-4">
                    <div class="box post">
                        <a href="#" class="image left"><img [src]="item.thumbnail" alt="" /></a>
                        <div class="inner">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </section>    
            </ng-container>
        </div>
    </div>
</section>
