<!-- <input type="text" [(ngModel)]="name"> -->
<!-- <app-directives></app-directives> -->
<!-- <app-main></app-main> -->
<!-- <input type="text" [(ngModel)]="name"> -->
<!-- <app-directives></app-directives> -->
<!-- <app-main></app-main> -->
<div *ngIf="currentview == 'signup'">
       <app-sign-up (viewChanged)="viewHasBeenChanged($event)"></app-sign-up>
</div>
<div *ngIf="currentview == 'loginPage'">
    <app-login [signUpEmail]= "userEmail" [signUpPassword]="userPassword" (logIN)="webHasBeenAccessed($event)"></app-login>
</div>
<div *ngIf="currentview == 'accessWeb'">
<app-main [text]="userName"></app-main>
<app-header (pageChanged)="pageHasBeenChanged($event)"></app-header>
<div *ngIf="currentPage == 'home'">
    <app-banner></app-banner>
    <app-highlight></app-highlight>
    <app-gigantic-heading></app-gigantic-heading>
    <app-posts></app-posts>
    <app-cta></app-cta>
</div>

<ng-container *ngIf="currentPage == 'left_Sidebar'">
    <app-left-sidebar></app-left-sidebar>
</ng-container>

<ng-container *ngIf="currentPage == 'right_Sidebar'">
    <app-right-sidebar></app-right-sidebar>
</ng-container>

<ng-container *ngIf="currentPage == 'two_Sidebar'">
    <app-two-sidebar></app-two-sidebar>
</ng-container>

<ng-container *ngIf="currentPage == 'no_Sidebar'">
    <app-no-sidebar></app-no-sidebar>
</ng-container>


<app-footer [data]="currentPage"></app-footer>
</div>



