<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <h1><a><em *ngIf="show ; then ifBlock else elseBlock">{{subHeader}}</em></a></h1>
             <ng-template #ifBlock>Arcana</ng-template>
             <ng-template #elseBlock>Undifine</ng-template>
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a appColEl href="index.html">{{home}}</a></li>
                    <li>
                        <a appColEl href="#">{{dropdown}}</a>
                        <ul>
                            <li><a href="#">Lorem dolor</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam sed tempus</a></li>
                            <li>
                                <a appColEl href="#">Submenu</a>
                                <ul>
                                    <li><a href="#">Lorem dolor</a></li>
                                    <li><a href="#">Phasellus magna</a></li>
                                    <li><a href="#">Magna phasellus</a></li>
                                    <li><a href="#">Etiam nisl</a></li>
                                    <li><a href="#">Veroeros feugiat</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Veroeros feugiat</a></li>
                        </ul>
                    </li>
                    <li><a appColEl href="left-sidebar.html">{{left_Sidebar}}</a></li>
                    <li><a appColEl href="right-sidebar.html">{{right_Sidebar}}</a></li>
                    <li><a appColEl href="two-sidebar.html">{{two_Sidebar }}</a></li>
                    <li><a appColEl href="no-sidebar.html">{{item}}</a></li>
                </ul>
            </nav>

        </div>
    </div>
</body>